@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css);

h1 {
    color: white;
    text-align: center;
    font-size: 10em;
}

body {
    font-family: Megrim;
    background: url("../Resources/Back.png");
    background-size: 100%;
    background-repeat: no-repeat;
}

#mainContainer {
    height: 90%;
    width: 100%;
    position: relative;


}

#change-name {
    display: inline-block;
    float: left;
    margin-left: 50px;


}

#exitgame {
    display: inline-block;
    margin-left: 25px;


}

.player-name-modal {
    background-color: #ecf0f1;
    width: 300px;
    height: 300px;
}

#gameCanvas {
    background-image: url('../Resources/gameBackgroundTree.jpg');
    margin-left: auto;
    margin-right: auto;
    margin-bottom: -100px;
    display: block;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0px 0px 15px 5px rgba(0, 5, 34, 0.75);
    -moz-box-shadow: 0px 0px 15px 5px rgba(0, 5, 34, 0.60);
    box-shadow: 0px 0px 15px 5px rgba(0, 5, 34, 0.60);
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    font-family: 'Lato', sans-serif;
    width: 20%;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    border-radius: 0;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button:link:after, a.animated-button:visited:after {
    content: "";
    position: absolute;
    height: 0%;
    left: 50%;
    top: 50%;
    width: 150%;
    z-index: -1;
    -webkit-transition: all 0.75s ease 0s;
    -moz-transition: all 0.75s ease 0s;
    -o-transition: all 0.75s ease 0s;
    transition: all 0.75s ease 0s;
}

a.animated-button:link:hover, a.animated-button:visited:hover {
    color: #FFF;
    text-shadow: none;
}

a.animated-button:link:hover:after, a.animated-button:visited:hover:after {
    height: 450%;
}

a.animated-button:link, a.animated-button:visited {
    position: relative;
    display: block;
    margin: 30px auto 0;
    padding: 14px 15px;
    color: #fff;
    font-size: 14px;
    border-radius: 0;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    letter-spacing: .08em;
    text-shadow: 0 0 1px rgba(0, 0, 0, 0.2), 0 1px 0 rgba(0, 0, 0, 0.2);
    -webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    transition: all 1s ease;
}

a.animated-button.victoria-one {
    border: 2px solid #34495e;
    margin-top: 10px;
    margin-bottom: 10px;


}

a.animated-button.victoria-one:after {
    background: #34495e;
    -moz-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -ms-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    -webkit-transform: translateX(-50%) translateY(-50%) rotate(-25deg);
    transform: translateX(-50%) translateY(-50%) rotate(-25deg);
}

