.testTable {
    display: inline-table;
    margin: 0 auto;
    border: 1px solid #34495e;
}

table, td {
    padding: 5px;
    color: #e0ebcf;
}

.row {
    padding-top: 0%;
}

.succesStory {
    border-left: 3px solid #34495e;
}

.userStoryTable {
    display: inline-table;
}

.TLabel {
    font-size: 1.25em;
}

.succes {
    width: 24px;
    height: 24px;
}

.failed {
    background-color: #c0392b;
}

.untested {
    background-color: #7f8c8d;
}